body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:901px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u18_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:668px;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:159px;
  top:168px;
  width:375px;
  height:667px;
  font-size:18px;
  color:#666666;
}
#u18_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:9px;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:162px;
  top:183px;
  width:6px;
  height:8px;
}
#u20_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:9px;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:172px;
  top:183px;
  width:6px;
  height:8px;
}
#u21_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:9px;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:182px;
  top:183px;
  width:6px;
  height:8px;
}
#u22_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:9px;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:192px;
  top:183px;
  width:6px;
  height:8px;
}
#u23_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:9px;
}
#u24 {
  border-width:0px;
  position:absolute;
  left:202px;
  top:183px;
  width:6px;
  height:8px;
}
#u24_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u26_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:18px;
}
#u26 {
  border-width:0px;
  position:absolute;
  left:497px;
  top:181px;
  width:27px;
  height:17px;
}
#u26_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:8px;
}
#u27 {
  border-width:0px;
  position:absolute;
  left:502px;
  top:186px;
  width:17px;
  height:7px;
}
#u27_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:8px;
}
#u28 {
  border-width:0px;
  position:absolute;
  left:524px;
  top:186px;
  width:4px;
  height:7px;
}
#u28_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:18px;
}
#u29 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:179px;
  width:63px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u29_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  word-wrap:break-word;
}
#u30_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:15px;
}
#u30 {
  border-width:0px;
  position:absolute;
  left:323px;
  top:182px;
  width:80px;
  height:14px;
  font-family:'Hel Regular', 'Hel';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u30_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u31_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
}
#u31 {
  border-width:0px;
  position:absolute;
  left:455px;
  top:181px;
  width:80px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u31_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u32_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u32 {
  border-width:0px;
  position:absolute;
  left:159px;
  top:208px;
  width:375px;
  height:1px;
}
#u32_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:41px;
}
#u33 {
  border-width:0px;
  position:absolute;
  left:192px;
  top:226px;
  width:327px;
  height:40px;
  text-align:left;
}
#u33_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:323px;
  word-wrap:break-word;
}
#u34_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:88px;
}
#u34 {
  border-width:0px;
  position:absolute;
  left:192px;
  top:276px;
  width:280px;
  height:87px;
  text-align:left;
}
#u34_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:276px;
  word-wrap:break-word;
}
#u35 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u36_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:26px;
}
#u36 {
  border-width:0px;
  position:absolute;
  left:466px;
  top:307px;
  width:53px;
  height:25px;
}
#u36_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u37 {
  border-width:0px;
  position:absolute;
  left:466px;
  top:307px;
  width:25px;
  height:25px;
}
#u37_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:2px;
}
#u38 {
  border-width:0px;
  position:absolute;
  left:192px;
  top:364px;
  width:327px;
  height:1px;
  color:#C9C9C9;
}
#u38_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:88px;
}
#u39 {
  border-width:0px;
  position:absolute;
  left:192px;
  top:392px;
  width:280px;
  height:87px;
  text-align:left;
}
#u39_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:276px;
  word-wrap:break-word;
}
#u40_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:26px;
}
#u40 {
  border-width:0px;
  position:absolute;
  left:466px;
  top:423px;
  width:53px;
  height:25px;
}
#u40_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u41 {
  border-width:0px;
  position:absolute;
  left:494px;
  top:423px;
  width:25px;
  height:25px;
}
#u41_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:2px;
}
#u42 {
  border-width:0px;
  position:absolute;
  left:192px;
  top:478px;
  width:327px;
  height:1px;
  color:#C9C9C9;
}
#u42_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:69px;
}
#u43 {
  border-width:0px;
  position:absolute;
  left:159px;
  top:767px;
  width:375px;
  height:68px;
}
#u43_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:26px;
}
#u44 {
  border-width:0px;
  position:absolute;
  left:219px;
  top:807px;
  width:44px;
  height:25px;
  font-size:16px;
}
#u44_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:40px;
  word-wrap:break-word;
}
#u45_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:26px;
}
#u45 {
  border-width:0px;
  position:absolute;
  left:439px;
  top:808px;
  width:44px;
  height:25px;
  font-size:16px;
}
#u45_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:40px;
  word-wrap:break-word;
}
#u46_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u46 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:773px;
  width:34px;
  height:34px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u46_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:39px;
}
#u47 {
  border-width:0px;
  position:absolute;
  left:442px;
  top:769px;
  width:39px;
  height:39px;
}
#u47_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:88px;
}
#u48 {
  border-width:0px;
  position:absolute;
  left:192px;
  top:508px;
  width:280px;
  height:87px;
  text-align:left;
}
#u48_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:276px;
  word-wrap:break-word;
}
#u49_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:26px;
}
#u49 {
  border-width:0px;
  position:absolute;
  left:466px;
  top:539px;
  width:53px;
  height:25px;
}
#u49_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u50 {
  border-width:0px;
  position:absolute;
  left:494px;
  top:539px;
  width:25px;
  height:25px;
}
#u50_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:2px;
}
#u51 {
  border-width:0px;
  position:absolute;
  left:192px;
  top:605px;
  width:327px;
  height:1px;
  color:#C9C9C9;
}
#u51_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:89px;
}
#u52 {
  border-width:0px;
  position:absolute;
  left:159px;
  top:57px;
  width:303px;
  height:88px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u52_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:299px;
  word-wrap:break-word;
}
#u53_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:142px;
}
#u53 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:616px;
  width:300px;
  height:141px;
  opacity:0.8;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u53_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:48px;
  width:296px;
  word-wrap:break-word;
}
#u54_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:31px;
}
#u54 {
  border-width:0px;
  position:absolute;
  left:212px;
  top:717px;
  width:93px;
  height:30px;
  color:#FF9900;
}
#u54_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:89px;
  word-wrap:break-word;
}
#u55_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:31px;
}
#u55 {
  border-width:0px;
  position:absolute;
  left:369px;
  top:717px;
  width:93px;
  height:30px;
  color:#FF9900;
}
#u55_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:89px;
  word-wrap:break-word;
}
#u56_img {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:0px;
  width:19px;
  height:97px;
}
#u56p000 {
  border-width:0px;
  position:absolute;
  left:-46px;
  top:41px;
  width:94px;
  height:6px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u56p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-2px;
  width:96px;
  height:8px;
}
#u56p001 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-3px;
  width:4px;
  height:4px;
  -webkit-transform:rotate(-60deg);
  -moz-transform:rotate(-60deg);
  -ms-transform:rotate(-60deg);
  transform:rotate(-60deg);
}
#u56p001_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:0px;
  width:6px;
  height:6px;
}
#u56p002 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:75px;
  width:22px;
  height:20px;
  -webkit-transform:rotate(-90deg);
  -moz-transform:rotate(-90deg);
  -ms-transform:rotate(-90deg);
  transform:rotate(-90deg);
}
#u56p002_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:0px;
  width:24px;
  height:22px;
}
#u56 {
  border-width:0px;
  position:absolute;
  left:526px;
  top:569px;
  width:1px;
  height:88px;
  -webkit-transform:rotate(60deg);
  -moz-transform:rotate(60deg);
  -ms-transform:rotate(60deg);
  transform:rotate(60deg);
}
#u56_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:33px;
}
#u57 {
  border-width:0px;
  position:absolute;
  left:555px;
  top:559px;
  width:77px;
  height:32px;
}
#u57_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:73px;
  word-wrap:break-word;
}
#u58_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:281px;
}
#u58 {
  border-width:0px;
  position:absolute;
  left:601px;
  top:168px;
  width:300px;
  height:280px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u58_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:74px;
  width:296px;
  word-wrap:break-word;
}
