body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:669px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1379_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:607px;
  height:512px;
}
#u1379 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:25px;
  width:606px;
  height:511px;
  font-size:20px;
  text-align:left;
}
#u1379_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:602px;
  word-wrap:break-word;
}
